In [1]:
import twint
import nest_asyncio 
nest_asyncio.apply()

# Configure
config              = twint.Config()
config.Search       = "bitcoin"
config.Lang         = "en"
config.Limit        = 100
config.Hide_output  = True
config.Pandas       = True

# Run search  
twint.run.Search(config)

# Retrieve output as dataframe
df = twint.storage.panda.Tweets_df

In [2]:
df.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1626828051387654145,1626824623936643072,1.676701e+12,2023-02-18 13:16:47,+0700,,@Jat_muqri Yup go for it,en,[],[],...,,,,,,"[{'screen_name': 'Jat_muqri', 'name': 'Jat 🇵🇸🇲...",,,,
1,1626828043703685120,1625594903672782848,1.676701e+12,2023-02-18 13:16:45,+0700,,@elonmusk @hikingskiing Bitcoin from 0.5$ to 7...,en,[],[],...,,,,,,"[{'screen_name': 'elonmusk', 'name': 'Elon Mus...",,,,
2,1626828042005000192,1625751026254106624,1.676701e+12,2023-02-18 13:16:44,+0700,,@Rocky_Bitcoin @laowaizjs 分析得不错！我前段时间也上车了。已经开始...,zh,[],[],...,,,,,,"[{'screen_name': 'Rocky_Bitcoin', 'name': 'Roc...",,,,
3,1626828035285737472,1626828035285737472,1.676701e+12,2023-02-18 13:16:43,+0700,,局面で人に頼ったりした時点で敗北決定。最終決定は自分でやる。,ja,[],[],...,,,,,,[],,,,
4,1626828031112232960,1626828031112232960,1.676701e+12,2023-02-18 13:16:42,+0700,,#altcoins #cryptomarket Get the latest free s...,en,"[altcoins, cryptomarket, testing]",[],...,,,,,,[],,,,

In [3]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'language', 'hashtags', 'cashtags', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [4]:
df.language.value_counts

<bound method IndexOpsMixin.value_counts of 0     en
1     en
2     zh
3     ja
4     en
      ..
95    en
96    en
97    en
98    en
99    nl
Name: language, Length: 100, dtype: object>