In [1]:
# Scrape Twitter tweets with snscrape
import snscrape.modules.twitter as sntwitter

query = "crypto"
tweets = []
limit = 100

for tweet in sntwitter.TwitterSearchScraper(query).get_items():

    if len(tweets) == limit:
        break
    else:
        if tweet.lang=='en':
            tweets.append([tweet.rawContent])

In [3]:
# Store the tweets in a dataframe
import pandas as pd

df = pd.DataFrame(tweets, columns=['Tweet'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tweet   100 non-null    object
dtypes: object(1)
memory usage: 928.0+ bytes

In [4]:
df.head()

                                               Tweet
0  @Coins_Kid There will be no stopping BTC when ...
1  Susanna Onions Owen North Constance Buckle htt...
2  US SEC proposed rules recognize Gemini crypto ...
3                       @EthPdxg GmGm Commandore! ☕️
4                                  @RichQuack $QUACK